body {
  margin: 0;
  /* padding: 0; */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#divLogo {
  background-color: #3f593c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#imgLogo {
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#divNavigatie {
  background-color: #283f25;
  padding: 10px 0;
  text-align: center;
}

#divNavigatie a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

#imgFlowers {
  width: 100%;
  height: 200px;
  display: block;
  margin: 0;
}

#footerContainer {
  background-color: #283f25;
  display: flex;
  justify-content: center;
  padding: 40px;
}

#footerLinks {
  padding-right: 10%;
  padding-top: 30px;
}

#footerLinks p,
#footerRechts p {
  margin: 4px;
  font-weight: normal;
}

#footerRechts h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

#pImgFlowers {
  background-image: url("images/pexels-jmark-250716.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 375px;
}

#pImgFlowers {
  text-align: center;
  line-height: 300px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#zonnetje {
  background-color: #3f593c;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 24px;
}

#aanbiedingenContainer {
  display: grid;
  grid-template-areas:
    ". aanbieding1 aanbieding2 aanbieding3 ."
    ". aanbieding4 aanbieding5 aanbieding6 .";
  background-color: #f6f8e7;
  padding: 50px;
  gap: 35px;
}

#aanbiedingenContainer > div {
  width: 275px;
  height: 225px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}

#aanbiedingenContainer > div div {
  background-color: #d9edb5;
  position: relative;
  top: 5px;
  padding-inline: 95px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  max-height: 80px;
}

#aanbieding1 {
  grid-area: aanbieding1;
  background-image: url("images/pexels-pixabay-54267.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#aanbieding2 {
  grid-area: aanbieding2;
  background-image: url("images/pexels-valeriya-1961778.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#aanbieding3 {
  grid-area: aanbieding3;
  background-image: url("images/pexels-scottwebb-403571.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#aanbieding4 {
  grid-area: aanbieding4;
  background-image: url("images/pexels-nextvoyage-457937.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#aanbieding5 {
  grid-area: aanbieding5;
  background-image: url("images/pexels-mikebirdy-109828.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#aanbieding6 {
  grid-area: aanbieding6;
  background-image: url("images/pexels-maureen-piecesphotography-1207978.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#contact {
  background-color: #d9edb5;
  padding: 30px 0px;
}

.contactBox {
  background-color: #3f593c;
  margin: 0px;
  padding: 10px;
}

#contactOpnemen {
  text-align: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
FFFFFF
3F593C
283F25
D9EDB5
F6F8E7 
*/
