body {
  margin: 0;
  /* padding: 0; */
  color: #ffffff;
  font-family: sans-serif;
}

#divLogo {
  background-color: #3f593c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#imgLogo {
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#divNavigatie {
  background-color: #283f25;
  padding: 10px 0;
  text-align: center;
}

#divNavigatie a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

#imgFlowers {
  width: 100%;
  height: 200px;
  display: block;
  margin: 0;
}

#footerContainer {
  background-color: #283f25;
  display: flex;
  justify-content: center;
  padding: 40px;
}

#footerLinks {
  padding-right: 10%;
  padding-top: 30px;
}

#footerLinks p,
#footerRechts p {
  margin: 4px;
  font-weight: normal;
}

#footerRechts h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

#pImgFlowers {
  background-image: url("images/pexels-jmark-250716.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 375px;
}

#pImgFlowers {
  text-align: center;
  line-height: 300px;
  font-size: 24px;
}

#zonnetje {
  background-color: #3f593c;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 24px;
}

#aanbiedingen-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 40px;
  margin: 40px 120px 40px;
}

.aanbiedingen {
  background: #d9edb5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.28);
  text-align: center;
  color: #000000;
}

.aanbiedingen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 155px;
}

#contact {
  background-color: #d9edb5;
  padding: 30px 0px;
}

.contactBox {
  background-color: #3f593c;
  margin: 0px;
  padding: 5px;
}

#contactFormulier {
  display: flex;
  background-color: #3f593c;
  margin: 0;
  padding: 0 100px;
  gap: 100px;
  font-size: 14px;
}

#contactOpnemen {
  text-align: center;
  font-size: 28px;
}

#introductionContainer {
  background-color: #3f593c;
  display: flex;
  justify-content: center;
}

#introductionContainer h1 {
  font-size: 30px;
  margin-left: 160px;
  font-weight: normal;
}

#introductionContainer p {
  text-align: center;
}

#introductionImg {
  max-height: 380px;
  border-radius: 12px;
  margin: 50px 140px 50px 180px;
}

#assortimentContainer {
  max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
  color: rgb(0, 0, 0);
}

#producten {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  background-color: #d9edb5;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  color: #000000;
}

.product img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
}

.product p {
  padding: 5px;
  font-size: 14px;
}

.product-large {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.product-large img {
  height: 320px;
}
/* 
FFFFFF
3F593C
283F25
D9EDB5
F6F8E7 
*/
